body {
    font-family: Magneto ;
    background-color: white;
    margin-top: 75px;
}

.center {
    text-align: right;
}

.text-big {
    font-size: 100%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

