body {
    font-family: Magneto ;
    background-color: white;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 100%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.arone{
    max-width:800px;
    margin:0 auto;
    color:#1cc6dc;
    padding-top:100px;
    padding-left:30px;
    padding-right:30px;
    font-size: xx-large;
}
.artwo{ 
    max-width:800px;
    margin: 0 auto;
    color: #cd8fd8;
    font-family: sans-serif;
    padding-top:100px;
    padding-right:30px;
    padding-left:30px;
    font-size: larger;
        
}
.arthree{ 
       color:green;
       padding-top:100px;
       padding-left:100px;
       margin:0 auto;
       font-family: inherit;
       padding-right:100px;
       font-size: xx-large;
}
